* {
    font-family: 'Courier New', Courier, monospace;
    color: #241364;;
    background-color: #c4bddf;
}

main { 
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    width: 650px;
    height: 550px;
}

.title {
    font-size: large;
    text-align: center;
    margin-bottom: 8%;
}

.input_nome {
    text-align: center;
    margin-bottom: 10%;
    font-size: 20px;
}
.input_nome input{
    width: 320px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    font: 1.1rem arial;
    color: rgb(0, 0, 0);
    text-align: center;
}

.bloco {
    display: inline-flex;
}
.bloco input{
    width: 190px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid gray;
    font: 1.1rem arial;
    color: rgb(0, 0, 0);
    text-align: center;
}

button {
    margin-top: 5%;
    margin-left: 27%;
    width: 300px;
    height: 40px;
    font-weight: bolder;
    font-size: larger;
    color: #241364;
    border: 1px solid #241364;
    border-radius: 5px;
    cursor: pointer;
}

.mensagem {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 400px;
    height: 130px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    color: #000000;
    padding: 20px;
    box-sizing: border-box; 
}